[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = {version = "==7.1"}
watchdog = {version = "==2.1.6"}
requests = {version = "==2.27.1"}

[dev-packages]
open-aea = {editable = true, extras=["all"], path = "/open-aea"}
open-aea-cli-ipfs = {editable = true, path = "/open-aea/plugins/aea-cli-ipfs"}
open-aea-ledger-cosmos = {editable = true, path = "/open-aea/plugins/aea-ledger-cosmos"}
open-aea-ledger-ethereum = {editable = true, path = "/open-aea/plugins/aea-ledger-ethereum"}
open-aea-ledger-ethereum-flashbots = {editable = true, path = "/open-aea/plugins/aea-ledger-ethereum-flashbots"}
