[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = {version = "==7.1"}
watchdog = {version = "==2.1.6"}
requests = {version = "==2.27.1"}
cowsay = {version = "==4.0"}
open-aea = {version = "==1.6.0"}
open-aea-cli-ipfs = {version = "==1.6.0"}
open-aea-ledger-ethereum = {version = "==1.6.0"}

[requires]
python_version = "3.8"
