[submodule "third_party/safe-contract"]
	path = safe-contracts
	url = https://github.com/gnosis/safe-contracts.git
[submodule "third_party/contracts-amm"]
	path = third_party/contracts-amm
	url = git@github.com:valory-xyz/contracts-amm.git
