site_name: Open Autonomy
site_url: https://valory.xyz/
site_description: A framework for the creation of autonomous agent services.
repo_url: https://github.com/valory-xyz/open-autonomy
site_author: developer@valory.xyz

theme:
   name: 'material'

extra_css:
  - stylesheets/extra.css

strict: true

nav:
  - Introduction: 'index.md'
  - Version: 'version.md'
  - Upgrading: 'upgrading.md'
  - Quick start: 'quick_start.md'
  - Example of a service: 'service_example.md'
  - Concepts:
    - Autonomous Economic Agents: 'aea.md'
    - Finite State Machines: 'fsm.md'
    - The Application BlockChain Interface: 'abci.md'
  - FSM Apps:
    - Introduction to FSM Apps: 'fsm_app_introduction.md'
    - Components of an FSM App: 'fsm_app_components.md'
    - The AbciApp Class: 'abci_app_class.md'
    - The AbstractRoundBehaviour Class: 'abci_app_abstract_round_behaviour.md'
    - The AsyncBehaviour Class: 'abci_app_async_behaviour.md'
    - The AbstractRound Class: 'abci_app_abstract_round.md'
    - Interactions between Components: 'abci_app_interactions.md'
  - Demos:
    - Simple ABCI: 'simple_abci.md'
    - Price Oracle:
      - Introduction: 'price_oracle_intro.md'
      - Running the Demo: 'price_oracle_running.md'
      - FSM Specification: 'price_oracle_fsms.md'
  - Development:
    - CLI: 'autonomy.md'
    - Developer Tooling:
      - Hot Reload: 'hot_reload.md'
      - Benchmarking: 'benchmarks.md'
    - Deployment:
      - Container Control Flow: 'control_flow.md'
      - Local Deployment: 'application_deployment.md'
      - Cloud Deployment: 'using_stack_deployment.md'
    - Running on other networks: 'networks.md'
    - API:
      - Library:
        - Constants: 'api/constants.md'
        - Analyse:
          - ABCI:
            - App Spec: 'api/analyse/abci/app_spec.md'
            - Docstrings: 'api/analyse/abci/docstrings.md'
            - Handlers: 'api/analyse/abci/handlers.md'
            - Logs: 'api/analyse/abci/logs.md'
          - Benchmark:
            - Aggregate: 'api/analyse/benchmark/aggregate.md'
            - HTML: 'api/analyse/benchmark/html.md'
        - CLI:
          - Analyse: 'api/cli/analyse.md'
          - Core: 'api/cli/core.md'
          - Deploy: 'api/cli/deploy.md'
          - Develop: 'api/cli/develop.md'
          - Hash: 'api/cli/hash.md'
          - Replay: 'api/cli/replay.md'
          - Utils: 'api/cli/utils/click_utils.md'
        - Configurations:
          - Base: 'api/configurations/base.md'
          - Constants: 'api/configurations/constants.md'
          - Loader: 'api/configurations/loader.md'
          - Validation: 'api/configurations/validation.md'
        - Deploy:
          - Base: 'api/deploy/base.md'
          - Build: 'api/deploy/build.md'
          - Constants: 'api/deploy/constants.md'
          - Image: 'api/deploy/image.md'
          - Generators:
            - Docker Compose:
              - Base: 'api/deploy/generators/docker_compose/base.md'
              - Templates: 'api/deploy/generators/docker_compose/templates.md'
            - Kubernetes:
              - Base: 'api/deploy/generators/kubernetes/base.md'
              - Templates: 'api/deploy/generators/kubernetes/templates.md'
        - Replay:
          - Agent: 'api/replay/agent.md'
          - Tendermint: 'api/replay/tendermint.md'
          - Utils: 'api/replay/utils.md'
      - Connections:
        - ABCI:
          - Check Dependencies: 'api/connections/abci/check_dependencies.md'
          - Connection: 'api/connections/abci/connection.md'
          - Dialogues: 'api/connections/abci/dialogues.md'
          - Tendermint Decoder: 'api/connections/abci/tendermint_decoder.md'
          - Tendermint Encoder: 'api/connections/abci/tendermint_encoder.md'
          - Scripts: 'api/connections/abci/scripts/genproto.md'
      - Contracts:
        - Gnosis Safe:
          - Contract: 'api/contracts/gnosis_safe/contract.md'
        - Gnosis Safe Proxy Factory:
          - Contract: 'api/contracts/gnosis_safe_proxy_factory/contract.md'
      - Protocols:
        - ABCI:
          - Custom Types: 'api/protocols/abci/custom_types.md'
          - Dialogues: 'api/protocols/abci/dialogues.md'
          - Message: 'api/protocols/abci/message.md'
          - Serialization: 'api/protocols/abci/serialization.md'
      - Skills:
        - Abstract ABCI:
          - Dialogues: 'api/skills/abstract_abci/dialogues.md'
          - Handlers: 'api/skills/abstract_abci/handlers.md'
        - Abstract Round ABCI:
          - Abci App Chain: 'api/skills/abstract_round_abci/abci_app_chain.md'
          - Base: 'api/skills/abstract_round_abci/base.md'
          - Behaviour Utils: 'api/skills/abstract_round_abci/behaviour_utils.md'
          - Behaviour: 'api/skills/abstract_round_abci/behaviours.md'
          - Common: 'api/skills/abstract_round_abci/common.md'
          - Dialogues: 'api/skills/abstract_round_abci/dialogues.md'
          - Handlers: 'api/skills/abstract_round_abci/handlers.md'
          - Models: 'api/skills/abstract_round_abci/models.md'
          - IO:
            - IPFS: 'api/skills/abstract_round_abci/io/ipfs.md'
            - Load: 'api/skills/abstract_round_abci/io/load.md'
            - Paths: 'api/skills/abstract_round_abci/io/paths.md'
            - Store: 'api/skills/abstract_round_abci/io/store.md'
          - Serializer: 'api/skills/abstract_round_abci/serializer.md'
          - Utils: 'api/skills/abstract_round_abci/utils.md'
        - Oracle Deployment ABCI:
          - Behaviours: 'api/skills/oracle_deployment_abci/behaviours.md'
          - Models: 'api/skills/oracle_deployment_abci/models.md'
          - Payloads: 'api/skills/oracle_deployment_abci/payloads.md'
          - Rounds: 'api/skills/oracle_deployment_abci/rounds.md'
        - Price Estimation ABCI:
          - Behaviours: 'api/skills/price_estimation_abci/behaviours.md'
          - Dialogues: 'api/skills/price_estimation_abci/dialogues.md'
          - Handlers: 'api/skills/price_estimation_abci/handlers.md'
          - Models: 'api/skills/price_estimation_abci/models.md'
          - Payloads: 'api/skills/price_estimation_abci/payloads.md'
          - Rounds: 'api/skills/price_estimation_abci/rounds.md'
        - Oracle ABCI:
          - Composition: 'api/skills/oracle_abci/composition.md'
        - Registration ABCI:
          - Behaviours: 'api/skills/registration_abci/behaviours.md'
          - Payloads: 'api/skills/registration_abci/payloads.md'
          - Rounds: 'api/skills/registration_abci/rounds.md'
        - Safe Deployment ABCI:
          - Behaviours: 'api/skills/safe_deployment_abci/behaviours.md'
          - Payloads: 'api/skills/safe_deployment_abci/payloads.md'
          - Rounds: 'api/skills/safe_deployment_abci/rounds.md'
        - Transaction Settlement ABCI:
          - Behaviours: 'api/skills/transaction_settlement_abci/behaviours.md'
          - Payloads: 'api/skills/transaction_settlement_abci/payloads.md'
          - Rounds: 'api/skills/transaction_settlement_abci/rounds.md'
      - Exceptions: exceptions.md
  - Miscellaneous:
    - Ethereum: 'ethereum_specifics.md'
    - Delegate call vs call: 'delegate_call.md'
    - Debugging Using Tenderly: 'debugging.md'
    - Counter Example: 'counter_example.md'
  - Q&A: 'questions-and-answers.md'


plugins:
  - markdownmermaid
  - macros

markdown_extensions:
  - pymdownx.superfences
  - pymdownx.highlight
  - admonition
  - markdown_include.include:
      base_path: docs
  - pymdownx.arithmatex
  - attr_list
  - md_in_html

extra:
    open_aea: '[Open AEA](https://github.com/valory-xyz/open-aea)'
    open_aea_doc: '[Open AEA documentation](https://open-aea.docs.autonolas.tech)'
    open_aea_api: '[Open AEA API](https://open-aea.docs.autonolas.tech/api/)'
    fsm_app: 'FSM App'
    open_autonomy: '[Open Autonomy](https://github.com/valory-xyz/open-autonomy)'
    open_autonomy_api: '[Open Autonomy API](https://docs.autonolas.network/)'
    agent_service: 'Agent Service'


#extra_css:
#    - css/my-styles.css

extra_javascript:
    - https://unpkg.com/mermaid@8.10.1/dist/mermaid.min.js
    - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML
