site_name: Open Autonomy
site_url: https://valory.xyz/
site_description: A framework for the creation of autonomous agent services.
repo_url: https://github.com/valory-xyz/open-autonomy
site_author: developer@valory.xyz
edit_uri: edit/main/docs/

theme:
  name: 'material'
  features:
    - navigation.top
    - navigation.indexes

extra_css:
  - stylesheets/extra.css

strict: true

nav:
  - Home: 'index.md'
  - Get started:
    - What is the Open Autonomy framework: 'get_started/what_is_the_open_autonomy_framework.md'
    - What is an agent service: 'get_started/what_is_an_agent_service.md'
    - Why do we need agent services: 'get_started/why_do_we_need_agent_services.md'
    - Agent services compared to...: 'get_started/agent_services_compared_to.md'
    - Use cases: 'get_started/use_cases.md'
  - Guides:
    - Index: 'guides/index.md'
    - Quick start: 'guides/quick_start.md'
    - Overview of the development process: 'guides/overview_of_the_development_process.md'
    - Create a service with an existing agent: 'guides/create_service_existing_agent.md'
    - Create a service from scratch: 'guides/create_service_from_scratch.md'
    - Deploy a service: 'guides/deploy_service.md'
    - Running a service in different networks: 'guides/running_service_different_networks.md'
    - Using the scaffold tool to speed up development: 'guides/scaffolding.md'
  - Concepts:
    - Autonomous Economic Agents: 'aea.md'
    - Finite State Machines: 'fsm.md'
    - The Application BlockChain Interface: 'abci.md'
  - FSM Apps:
    - Introduction to FSM Apps: 'fsm_app_introduction.md'
    - Components of an FSM App: 'fsm_app_components.md'
    - The AbciApp Class: 'abci_app_class.md'
    - The AbstractRoundBehaviour Class: 'abci_app_abstract_round_behaviour.md'
    - The AsyncBehaviour Class: 'abci_app_async_behaviour.md'
    - The AbstractRound Class: 'abci_app_abstract_round.md'
    - Interactions between Components: 'abci_app_interactions.md'
    - Sequence Diagram: 'poc-diagram.md'
  - Demos:
    - Hello World Agent Service: 'hello_world_agent_service.md'
    - Simple Demo: 'simple_abci.md'
    - Counter Demo: 'counter_example.md'
    - Price Oracle Demo:
      - Introduction: 'price_oracle_intro.md'
      - Technical Details: 'price_oracle_technical_details.md'
      - FSM Specification: 'price_oracle_fsms.md'
  - Development:
    - Version: 'version.md'
    - Upgrading: 'upgrading.md'
    - Package publishing: 'package_publishing.md'
    - CLI: 'autonomy.md'
    - Developer Tooling:
      - Dev Mode: 'dev_mode.md'
      - Benchmarking: 'benchmarks.md'
    - Deployment:
      - Container Control Flow: 'control_flow.md'
      - Local Deployment: 'application_deployment.md'
      - Cloud Deployment: 'using_stack_deployment.md'
    - Running on other networks: 'networks.md'
    - API:
      - Library:
        - Constants: 'api/constants.md'
        - Analyse:
          - ABCI:
            - App Spec: 'api/analyse/abci/app_spec.md'
            - Docstrings: 'api/analyse/abci/docstrings.md'
            - Handlers: 'api/analyse/abci/handlers.md'
            - Logs: 'api/analyse/abci/logs.md'
          - Benchmark:
            - Aggregate: 'api/analyse/benchmark/aggregate.md'
            - HTML: 'api/analyse/benchmark/html.md'
        - CLI:
          - Analyse: 'api/cli/analyse.md'
          - Core: 'api/cli/core.md'
          - Deploy: 'api/cli/deploy.md'
          - Develop: 'api/cli/develop.md'
          - Fetch: 'api/cli/fetch.md'
          - Hash: 'api/cli/hash.md'
          - Publish: 'api/cli/publish.md'
          - Push All: 'api/cli/push_all.md'
          - Replay: 'api/cli/replay.md'
          - Utils: 'api/cli/utils/click_utils.md'
          - Build Images: 'api/cli/build_images.md'
          - Scaffold FSM: 'api/cli/scaffold_fsm.md'
        - Configurations:
          - Base: 'api/configurations/base.md'
          - Constants: 'api/configurations/constants.md'
          - Loader: 'api/configurations/loader.md'
          - Validation: 'api/configurations/validation.md'
        - Deploy:
          - Base: 'api/deploy/base.md'
          - Build: 'api/deploy/build.md'
          - Chain: 'api/deploy/chain.md'
          - Constants: 'api/deploy/constants.md'
          - Image: 'api/deploy/image.md'
          - Generators:
            - Docker Compose:
              - Base: 'api/deploy/generators/docker_compose/base.md'
              - Templates: 'api/deploy/generators/docker_compose/templates.md'
            - Kubernetes:
              - Base: 'api/deploy/generators/kubernetes/base.md'
              - Templates: 'api/deploy/generators/kubernetes/templates.md'
        - Replay:
          - Agent: 'api/replay/agent.md'
          - Tendermint: 'api/replay/tendermint.md'
          - Utils: 'api/replay/utils.md'
        - Test Tools:
          - Configurations: 'api/plugins/aea_test_autonomy/configurations.md'
          - Fixture Helpers: 'api/plugins/aea_test_autonomy/fixture_helpers.md'
          - Base Test Classes:
            - Agents: 'api/plugins/aea_test_autonomy/base_test_classes/agents.md'
            - Contracts: 'api/plugins/aea_test_autonomy/base_test_classes/contracts.md'
          - Docker:
            - ACN Node: 'api/plugins/aea_test_autonomy/docker/acn_node.md'
            - AMM Net: 'api/plugins/aea_test_autonomy/docker/amm_net.md'
            - Base: 'api/plugins/aea_test_autonomy/docker/base.md'
            - Ganache Helpers: 'api/plugins/aea_test_autonomy/docker/ganache.md'
            - Gnosis Safe Helpers: 'api/plugins/aea_test_autonomy/docker/gnosis_safe_net.md'
            - Registries: 'api/plugins/aea_test_autonomy/docker/registries.md'
            - Tendermint Helpers: 'api/plugins/aea_test_autonomy/docker/tendermint.md'
          - Helpers:
            - Async Utils: 'api/plugins/aea_test_autonomy/helpers/async_utils.md'
            - Base: 'api/plugins/aea_test_autonomy/helpers/base.md'
            - Contracts: 'api/plugins/aea_test_autonomy/helpers/contracts.md'
            - Tendermint Utils: 'api/plugins/aea_test_autonomy/helpers/tendermint_utils.md'
        - Data:
          - Watcher: 'api/data/Dockerfiles/dev/watcher.md'
      - Connections:
        - ABCI:
          - Check Dependencies: 'api/connections/abci/check_dependencies.md'
          - Connection: 'api/connections/abci/connection.md'
          - Dialogues: 'api/connections/abci/dialogues.md'
          - Tendermint Decoder: 'api/connections/abci/tendermint_decoder.md'
          - Tendermint Encoder: 'api/connections/abci/tendermint_encoder.md'
          - Scripts: 'api/connections/abci/scripts/genproto.md'
          - Tests - Helper:
            - Helper: 'api/connections/abci/tests/helper.md'
            - Base: 'api/connections/abci/tests/test_fuzz/base.md'
            - Mock Node - Node: 'api/connections/abci/tests/test_fuzz/mock_node/node.md'
            - Mock Node - Channels Base: 'api/connections/abci/tests/test_fuzz/mock_node/channels/base.md'
            - Mock Node - Channels GRPC: 'api/connections/abci/tests/test_fuzz/mock_node/channels/grpc_channel.md'
            - Mock Node - Channels TCP: 'api/connections/abci/tests/test_fuzz/mock_node/channels/tcp_channel.md'
      - Contracts:
        - Gnosis Safe:
          - Contract: 'api/contracts/gnosis_safe/contract.md'
        - Gnosis Safe Proxy Factory:
          - Contract: 'api/contracts/gnosis_safe_proxy_factory/contract.md'
      - Protocols:
        - ABCI:
          - Custom Types: 'api/protocols/abci/custom_types.md'
          - Dialogues: 'api/protocols/abci/dialogues.md'
          - Message: 'api/protocols/abci/message.md'
          - Serialization: 'api/protocols/abci/serialization.md'
      - Skills:
        - Abstract ABCI:
          - Dialogues: 'api/skills/abstract_abci/dialogues.md'
          - Handlers: 'api/skills/abstract_abci/handlers.md'
        - Abstract Round ABCI:
          - Abci App Chain: 'api/skills/abstract_round_abci/abci_app_chain.md'
          - Base: 'api/skills/abstract_round_abci/base.md'
          - Behaviour Utils: 'api/skills/abstract_round_abci/behaviour_utils.md'
          - Behaviour: 'api/skills/abstract_round_abci/behaviours.md'
          - Common: 'api/skills/abstract_round_abci/common.md'
          - Dialogues: 'api/skills/abstract_round_abci/dialogues.md'
          - Handlers: 'api/skills/abstract_round_abci/handlers.md'
          - Models: 'api/skills/abstract_round_abci/models.md'
          - Test Tools:
            - ABCI App: 'api/skills/abstract_round_abci/test_tools/abci_app.md'
            - APIs: 'api/skills/abstract_round_abci/test_tools/apis.md'
            - Base: 'api/skills/abstract_round_abci/test_tools/base.md'
            - Common: 'api/skills/abstract_round_abci/test_tools/common.md'
            - Integration: 'api/skills/abstract_round_abci/test_tools/integration.md'
            - Rounds: 'api/skills/abstract_round_abci/test_tools/rounds.md'
          - IO:
            - IPFS: 'api/skills/abstract_round_abci/io_/ipfs.md'
            - Load: 'api/skills/abstract_round_abci/io_/load.md'
            - Paths: 'api/skills/abstract_round_abci/io_/paths.md'
            - Store: 'api/skills/abstract_round_abci/io_/store.md'
          - Serializer: 'api/skills/abstract_round_abci/serializer.md'
          - Utils: 'api/skills/abstract_round_abci/utils.md'
        - Oracle Deployment ABCI:
          - Behaviours: 'api/skills/oracle_deployment_abci/behaviours.md'
          - Models: 'api/skills/oracle_deployment_abci/models.md'
          - Payloads: 'api/skills/oracle_deployment_abci/payloads.md'
          - Rounds: 'api/skills/oracle_deployment_abci/rounds.md'
          - Dialogues: 'api/skills/oracle_deployment_abci/dialogues.md'
          - Handlers: 'api/skills/oracle_deployment_abci/handlers.md'
        - Price Estimation ABCI:
          - Behaviours: 'api/skills/price_estimation_abci/behaviours.md'
          - Dialogues: 'api/skills/price_estimation_abci/dialogues.md'
          - Handlers: 'api/skills/price_estimation_abci/handlers.md'
          - Models: 'api/skills/price_estimation_abci/models.md'
          - Payloads: 'api/skills/price_estimation_abci/payloads.md'
          - Rounds: 'api/skills/price_estimation_abci/rounds.md'
        - Oracle ABCI:
          - Behaviours: 'api/skills/oracle_abci/behaviours.md'
          - Composition: 'api/skills/oracle_abci/composition.md'
          - Dialogues: 'api/skills/oracle_abci/dialogues.md'
          - Handlers: 'api/skills/oracle_abci/handlers.md'
          - Models: 'api/skills/oracle_abci/models.md'
        - Registration ABCI:
          - Behaviours: 'api/skills/registration_abci/behaviours.md'
          - Payloads: 'api/skills/registration_abci/payloads.md'
          - Rounds: 'api/skills/registration_abci/rounds.md'
          - Dialogues: 'api/skills/registration_abci/dialogues.md'
          - Handlers: 'api/skills/registration_abci/handlers.md'
          - Models: 'api/skills/registration_abci/models.md'
        - Safe Deployment ABCI:
          - Behaviours: 'api/skills/safe_deployment_abci/behaviours.md'
          - Payloads: 'api/skills/safe_deployment_abci/payloads.md'
          - Rounds: 'api/skills/safe_deployment_abci/rounds.md'
          - Dialogues: 'api/skills/safe_deployment_abci/dialogues.md'
          - Handlers: 'api/skills/safe_deployment_abci/handlers.md'
          - Models: 'api/skills/safe_deployment_abci/models.md'
        - Transaction Settlement ABCI:
          - Behaviours: 'api/skills/transaction_settlement_abci/behaviours.md'
          - Payloads: 'api/skills/transaction_settlement_abci/payloads.md'
          - Rounds: 'api/skills/transaction_settlement_abci/rounds.md'
          - Dialogues: 'api/skills/transaction_settlement_abci/dialogues.md'
          - Handlers: 'api/skills/transaction_settlement_abci/handlers.md'
          - Models: 'api/skills/transaction_settlement_abci/models.md'
          - Payload Tools: 'api/skills/transaction_settlement_abci/payload_tools.md'
          - Test Tools: 'api/skills/transaction_settlement_abci/test_tools/integration.md'
      - Exceptions: 'exceptions.md'
  - Miscellaneous:
    - Ethereum: 'ethereum_specifics.md'
    - Delegate call vs call: 'delegate_call.md'
    - Debugging Using Tenderly: 'debugging.md'
  - FAQ: 'questions-and-answers.md'


plugins:
  - macros

markdown_extensions:
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - admonition
  - pymdownx.arithmatex
  - attr_list
  - md_in_html

extra:
    open_aea: '[Open AEA](https://github.com/valory-xyz/open-aea)'
    open_aea_doc: '[Open AEA documentation](https://open-aea.docs.autonolas.tech)'
    open_aea_api: '[Open AEA API](https://open-aea.docs.autonolas.tech/api/)'
    fsm_app: 'FSM App'
    open_autonomy: '[Open Autonomy](https://github.com/valory-xyz/open-autonomy)'
    open_autonomy_api: '[Open Autonomy API](https://docs.autonolas.network/)'



#extra_css:
#    - css/my-styles.css

extra_javascript:
    - https://unpkg.com/mermaid@8.10.1/dist/mermaid.min.js
    - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML
