[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "<4.0.0,>=3.8.5"
docker = "==6.1.2"
Flask = "==2.0.2"
open-aea = {version = "==1.56.0", extras = ["all"]}
open-aea-ledger-ethereum = "==1.56.0"
open-aea-ledger-ethereum-hwi = "==1.56.0"
open-aea-cli-ipfs = "==1.56.0"
ipfshttpclient = "==0.8.0a2"
Werkzeug= "==2.0.3"
watchdog = ">=2.1.6"
pytest = "==7.2.1"
click = ">=8.1.0,<9"
valory-docker-compose = "==1.29.3"

[dev-packages]
### package deps
aiohttp = "<4.0.0,>=3.8.5"
asn1crypto = "<1.5.0,>=1.4.0"
ecdsa = ">=0.15"
web3 = "<7,>=6.0.0"
certifi = "*"
multidict = "*"
eth_typing ="*"
eth-account = ">=0.8.0,<0.9.0"
typing_extensions = ">=3.10.0.2"
hexbytes = "*"
packaging = "*"
pytest-asyncio = "*"
open-aea-ledger-cosmos = "==1.56.0"
# we pin this as the range specified in open-aea-ledger-cosmos is wide
open-aea-cosmpy = "==0.6.7"
grpcio = "==1.53.0"
hypothesis = "==6.21.6"
# latest supported for Python 3.7
protobuf = "<4.25.0,>=4.21.6"
pytz = "==2022.2.1"
py-ecc = "==6.0.0"
python-dotenv = ">=0.14.5,<0.22.0"
requests = "<2.31.2,>=2.28.1"
### tests deps
tomte = {version = "==0.2.17", extras = ["tests", "cli"]}
texttable = "==1.6.7"
toml = "==0.10.2"
eth-utils = "==2.2.0"
eth-abi = "==4.0.0"
pycryptodome = "==3.18.0"
jsonschema = "<4.4.0,>=4.3.0"
gql = "==3.5.0"

[requires]
python_version = "3.10"
