name: "oracle_ropsten"
author: "valory"
version: 0.1.0
description: A set of agents implementing a price oracle
aea_version: ">=1.0.0, <2.0.0"
license: Apache-2.0
agent: valory/oracle_deployable:0.1.0
network: ropsten
number_of_agents: 4
---
period_setup_args: &period_setup_args
  args:
    period_setup:
      safe_contract_address: "0x4826E4ddEeE65bc27034602a6050486fBE920707"
      oracle_contract_address: "0x3f9F36ECb03ded97328FC7747292D6D03dFE3D46"
    max_healthcheck: 43200
    broadcast_to_server: true
    reset_tendermint_after: 50

valory_monitoring_backend: &monitoring_backend
  args:
    url: 'https://oracle-server.autonolas.tech/deposit'

public_id: valory/oracle_abci:0.1.0
type: skill
models:
  0:
    - price_api:
        args:
          url: 'https://api.coingecko.com/api/v3/simple/price'
          api_id: 'coingecko'
          parameters: '[["ids", "bitcoin"], ["vs_currencies", "usd"]]'
          response_key: 'bitcoin:usd'
          headers: ~
    - randomness_api:
        args:
          url: "https://drand.cloudflare.com/public/latest"
          api_id: "cloudflare"
    - params:
        <<: *period_setup_args
    - server_api:
       <<: *monitoring_backend
  1:
    - price_api:
        args:
          url: 'https://ftx.com/api/markets/BTC/USD'
          api_id: 'ftx'
          response_key: 'result:last'
          headers: ~
          parameters: ~
    - randomness_api:
        args:
          url: "https://api.drand.sh/public/latest"
          api_id: "protocollabs1"
    - params:
        <<: *period_setup_args
    - server_api:
       <<: *monitoring_backend
  2:
    - price_api:
        args:
          url: 'https://api.coinbase.com/v2/prices/BTC-USD/buy'
          api_id: 'coinbase'
          response_key: 'data:amount'
          headers: ~
          parameters: ~
    - randomness_api:
        args:
          url: "https://api2.drand.sh/public/latest"
          api_id: "protocollabs2"
    - params:
        <<: *period_setup_args
    - server_api:
       <<: *monitoring_backend
  3:
    - price_api:
        args:
          url: 'https://api.binance.com/api/v3/ticker/price'
          api_id: 'binance'
          parameters: '[["symbol", "BTCUSDT"]]'
          response_key: 'price'
          headers: ~
    - randomness_api:
        args:
          url: "https://api3.drand.sh/public/latest"
          api_id: "protocollabs2"
    - params:
        <<: *period_setup_args
    - server_api:
       <<: *monitoring_backend
