name: "oracle_ropsten"
author: "valory"
version: 0.1.0
agent: valory/oracle_deployable:0.1.0
network: ropsten
number_of_agents: 4
---
setup_args: &setup_args
  args:
    setup:
      safe_contract_address: "0x7AbCC2424811c342BC9A9B52B1621385d7406676"
      oracle_contract_address: "0xB555E44648F6Ff759F64A5B451AB845B0450EA57"
    max_healthcheck: 43200
    broadcast_to_server: true

valory_monitoring_backend: &monitoring_backend
  args:
    url: 'https://staging.oracle-server.autonolas.tech/deposit'

public_id: valory/oracle_abci:0.1.0
type: skill
models:
  0:
    - price_api:
        args:
          url: 'https://api.coingecko.com/api/v3/simple/price'
          api_id: 'coingecko'
          parameters: '[["ids", "bitcoin"], ["vs_currencies", "usd"]]'
          response_key: 'bitcoin:usd'
          headers: ~
    - randomness_api:
        args:
          url: "https://drand.cloudflare.com/public/latest"
          api_id: "cloudflare"
    - params:
        <<: *setup_args
    - server_api:
       <<: *monitoring_backend
  1:
    - price_api:
        args:
          url: 'https://ftx.com/api/markets/BTC/USD'
          api_id: 'ftx'
          response_key: 'result:last'
          headers: ~
          parameters: ~
    - randomness_api:
        args:
          url: "https://api.drand.sh/public/latest"
          api_id: "protocollabs1"
    - params:
        <<: *setup_args
    - server_api:
       <<: *monitoring_backend
  2:
    - price_api:
        args:
          url: 'https://api.coinbase.com/v2/prices/BTC-USD/buy'
          api_id: 'coinbase'
          response_key: 'data:amount'
          headers: ~
          parameters: ~
    - randomness_api:
        args:
          url: "https://api2.drand.sh/public/latest"
          api_id: "protocollabs2"
    - params:
        <<: *setup_args
    - server_api:
       <<: *monitoring_backend
  3:
    - price_api:
        args:
          url: 'https://api.binance.com/api/v3/ticker/price'
          api_id: 'binance'
          parameters: '[["symbol", "BTCUSDT"]]'
          response_key: 'price'
          headers: ~
    - randomness_api:
        args:
          url: "https://api3.drand.sh/public/latest"
          api_id: "protocollabs2"
    - params:
        <<: *setup_args
    - server_api:
       <<: *monitoring_backend
