name: apy_estimation
author: valory
version: 0.1.0
description: A set of agents reaching consensus on APY estimates
aea_version: '>=1.0.0, <2.0.0'
license: Apache-2.0
fingerprint:
  README.md: bafybeibhbkelnxxvsln677imq65vgbglmlhyxtax4iqtzempjiwcoef3gq
fingerprint_ignore_patterns: []
agent: valory/apy_estimation:0.1.0:bafybeihjt53sybzqynsf6wrxm4agf2sezkzf5tdp4lqbnxjrnx4h5drjfe
number_of_agents: 4
---
public_id: valory/apy_estimation_abci:0.1.0
type: skill
models:
  params:
    args:
      broadcast_to_server: true
      pair_ids:
        uniswap_subgraph:
        - '0xae461ca67b15dc8dc81ce7615e0320da1a9ab8d5'
        spooky_subgraph:
        - '0x2a651563c9d3af67ae0388a5c8f89b867038089e'
        - '0x2b4c76d0dc16be1c31d4c1dc53bf9b45987fc75c'
      n_observations: ${SERVICE_APY_N_OBSERVATIONS:int:120}
      history_end: null
      ipfs_domain_name: /dns/registry.autonolas.tech/tcp/443/https
  server_api:
    args:
      url: ${SERVICE_APY_DEPOSIT_ENDPOINT:str:http://172.17.0.2:9999/apy/deposit}
