name: register_reset
author: valory
version: 0.1.0
agent: valory/register_reset:0.1.0:bafybeiahwhyzm67wxigvvodmzd7kmaksen5ew665fqckl4ezs4qqfeg27m
number_of_agents: 4
description: Test and debug tendermint reset mechanism.
aea_version: '>=2.0.0, <3.0.0'
license: Apache-2.0
fingerprint:
  README.md: bafybeic3cjcjwq6nash43aqjdonj26w7q2y7kvyrx66ntynvhm2lqlcqqa
fingerprint_ignore_patterns: []
deployment: {}
dependencies: {}
---
public_id: valory/ledger:0.19.0
type: connection
config:
  ledger_apis:
    ethereum:
      address: ${SERVICE_REGISTER_RESET_RPC:str:http://host.docker.internal:8545}
      chain_id: 31337
      poa_chain: false
      default_gas_price_strategy: eip1559
