name: register_reset
author: valory
version: 0.1.0
agent: valory/register_reset:0.1.0
network: hardhat
number_of_agents: 4
description: Test and debug tendermint reset mechanism.
aea_version: '>=1.0.0, <2.0.0'
license: Apache-2.0
fingerprint:
  README.md: QmNfkXQmnYoPvzFkHZjoAbUPojYXw6miYXsHBRZGuJ4LC4
fingerprint_ignore_patterns: []
