name: register_reset
author: valory
version: 0.1.0
agent: valory/register_reset:0.1.0:bafybeih6oc7cprqledvp74qcwwds7bck3k3xpksygfo3ow7c4vwzjvcdxu
network: hardhat
number_of_agents: 4
description: Test and debug tendermint reset mechanism.
aea_version: '>=1.0.0, <2.0.0'
license: Apache-2.0
fingerprint:
  README.md: bafybeiae4sog7e3hyjdujzp5qr2g3auobmqswqnaczh2zhlphuojnd2g6u
fingerprint_ignore_patterns: []
