name: register_reset
author: valory
version: 0.1.0
agent: valory/register_reset:0.1.0:bafybeie3mas7geefllf3k6yudzt7h574eznjdefic5b2i4zweb24v57pk4
number_of_agents: 4
description: Test and debug tendermint reset mechanism.
aea_version: '>=1.0.0, <2.0.0'
license: Apache-2.0
fingerprint:
  README.md: bafybeiae4sog7e3hyjdujzp5qr2g3auobmqswqnaczh2zhlphuojnd2g6u
fingerprint_ignore_patterns: []
deployment: {}
dependencies: {}
---
public_id: valory/ledger:0.19.0
type: connection
config:
  ledger_apis:
    ethereum:
      address: ${SERVICE_REGISTER_RESET_RPC:str:http://host.docker.internal:8545}
      chain_id: 31337
      poa_chain: false
      default_gas_price_strategy: eip1559
