name: docs

on:
  push:
    branches:
      - develop
      - main
  pull_request:

jobs:
  run:
    continue-on-error: True
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.10]

    timeout-minutes: 30

    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@master
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Install dependencies
      run: |
        sudo apt-get update --fix-missing
        sudo apt-get autoremove
        sudo apt-get autoclean
        pip install tomte[tox]==0.2.2          
        pip install poetry
        poetry update
        poetry install --no-root
        sudo npm install -g markdown-spellcheck
    - name: Check spelling
      run: tox -e spell-check
        
    - name: Check doc links
      run: tox -e check-doc-links      

    - name: markdownlint-cli2-action
      uses: DavidAnson/markdownlint-cli2-action@v9.0.0
      with:
        globs: /docs/*.md # optional, default is *.{md,markdown}

    - name: Generate Documentation
      run: |
        find . -name "mkdocs.yml" | xargs -L1 sed -i.snrbck "s/materialx.emoji.twemoji/material.extensions.emoji.twemoji/g"
        find . -name "mkdocs.yml" | xargs -L1 sed -i.snrbck "s/materialx.emoji.to_svg/material.extensions.emoji.to_svg/g"
        find . -name "*.snrbck" | xargs -L1 rm
        
        poetry run pip3 install mkdocs-material==9.4.10 mkdocs-material-extensions==1.3
        poetry run pip3 install setuptools
        poetry run mkdocs build --clean
